APP_ENCRYPTION_KEY=
LHDN_API_BASE_URL=https://preprod-api.myinvois.hasil.gov.my
LHDN_IDENTITY_BASE_URL=https://preprod-api.myinvois.hasil.gov.my
LHDN_SCOPE=
LHDN_DEFAULT_BUYER_TIN=EI00000000010
LHDN_SUPPLIER_ADDRESS_LINE1=Lot 66
LHDN_SUPPLIER_ADDRESS_LINE2=Bangunan Merdeka
LHDN_SUPPLIER_ADDRESS_LINE3=Persiaran Jaya
LHDN_SUPPLIER_CITY=Kuala Lumpur
LHDN_SUPPLIER_POSTCODE=50480
LHDN_SUPPLIER_STATE_CODE=10
LHDN_SUPPLIER_COUNTRY_CODE=MYS
LHDN_SUPPLIER_MSIC_NAME=Restaurants and mobile food service activities
LHDN_DOCUMENT_VERSION=1.0

WHATSAPP_GRAPH_VERSION=v17.0
